

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {

    padding-top: 20px;
    padding-bottom: 30px;

}

section {

	width: 66%;
	display: inline-block;
	margin: 0 2%;
}

aside {

	width: 26%;
	margin: 0 2%;

}

.hero-unit .controls {

	margin: 2em 0 0.5em;

}

.hero-unit input {

	height: 30px;
	line-height: 20px;
	font-size: 20px;
	text-indent: 5px;

}

.hero-unit .input-append > .btn {

	height: 40px;

}

.hero-unit.compressed {

	padding: 0.5em;

}

.hero-unit.compressed h2 {

	width: 50%;
	display: inline-block;
	float: left;

}

.hero-unit.compressed p {

	display: none;

}

.hero-unit.compressed form {

	width: 50%;
	margin-bottom: 0;
	float: right;

}

.hero-unit.compressed .controls {

	margin: 0.6em 0.6em 0;
	float: right;

}

.icon-github {

	width: 16px;
	height: 17px;
	margin-top: 0;
	margin-left: 5px;
	line-height: 17px;
	background-image: url("../img/github.png");
 	background-position: -25px 0;

}

.span3 h4 {

	text-align: center;
}

.animate {
	-webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.span9 .nav a {

	text-indent: 1.5em;
	cursor: pointer;

}

.nav-tabs > li > a {
	background: #fff;
}

.nav .well {

	margin: 0;
	border-radius: 0;
	display: none;

}

.span9 .nav a > .icon-result {
	background-position: -456px -72px;
	float: right;
}

.expanded .nav {
	margin-bottom: 0;
}

.expanded > a > .icon-result {
	background-position: -313px -119px!important;
}

.expanded .well p {
	font-style: italic;
	word-break: break-all;
}

.expanded > a {

	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;

}

.expanded > .well {

	display: block;

}

.results .well:last-child {

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

.alert p , .alert h4 {

	text-align : center;

}

@media all and ( max-width: 850px ) {

	.hero-unit.compressed h2 {

		width: 100%!important;
		float: none;
		margin: auto;
		text-align: center;
	
	}


	.hero-unit input {
		height: 40px;
	}

	.hero-unit .input-append > .btn {

		height: 40px;

	}


}

@media all and (max-width: 550px) {

	.hero-unit {
		width: 98%;
		margin: 0 1%;
		padding: 0.75em;
	}

	.hero-unit h2 {
		font-size: 1.5em ;
	} 

	.hero-unit input {
		width: 55%!important;
	}

	
	.hero-unit.compressed form {
		float: none;
		width: 100%;
		margin: 0.5em auto;
	}

	.hero-unit .controls {
		float: none!important;
		width: 100%;
		margin: 0;
	}

}















